<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot= "end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Animales en adopcion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="cards-container">
          <div
            class="card"
            *ngFor="let animal of animales"
            (click)="verDetalles(animal)"
          >
            <div class="card-image">
              <img [src]="animal.foto_mascota" [alt]="animal.nombre_mascota" />
            </div>
            <div class="card-title">
              {{ animal.nombre_mascota }}
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
