<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="centrado">

    <h1 class="titulo">Perfil</h1>

    <ion-card class="card">
      <img class="imagen" src="assets/foto_usuario.jpg" alt="foto usuario">

        <h2 class="texto2"> Nombre: {{cuenta.nombre_usuario}}</h2>
        <h2 class="texto2">apellido: {{cuenta.apellido_usuario}}</h2>
        <h2 class="texto">Correo: {{ cuenta.correo }}</h2>

      <div class="botones">
        <ion-button shape="round" class="boton" color="light" (click)="ModificarCuenta()">modificar email</ion-button>
        <ion-button shape="round" class="boton" color="light" (click)="ModificarContra()">modificar contraseña</ion-button>
        <ion-button shape="round" class="boton" color="medium" [routerLink]="['/login']">cerrar sesión</ion-button>
      </div>
    </ion-card>
  </div>

</ion-content>