ion-content{
    --background: url('/assets/fondo_cuenta.jpg') no-repeat center center / cover; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // Asegura que el contenido se coloque desde la parte superior
    align-items: center;
    height: 100%; // Ocupa toda la pantalla
}

.imagen{
    width: 40%;
    border-radius: 50%;
    margin-top: 20px;
}

.centrado{
    text-align: center;
}

.card{
    background-color: #fdfeff;
    border: 1px solid black;
}

.texto{
    font-size: 16px;
}

.botones{
    margin-top: 15px;
}

.header-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .titulo {
    font-size: 1.5rem;
    margin-left: 20px;
  }
  
  .boton-lapiz {
    --background: #e0ebff; 
    --color: rgb(0, 0, 0);
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .boton-lapiz ion-icon {
    font-size: 1.2rem;
  }
