<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>modificar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 class="Titulo">Cambiar contraseña</h2>

  <div class="centradoImput">
    <ion-item class="item">
      <ion-input class="input" label="ingrese su contraseña" labelPlacement="floating" placeholder="contraseña" [(ngModel)]="contra" type="password">
        <ion-input-password-toggle slot="end" class="centradoOjo" color="medium"></ion-input-password-toggle></ion-input>
    </ion-item>

    <ion-item class="item">
      <ion-input class="input" label="ingrese su contraseña Nueva" labelPlacement="floating" placeholder="contraseña" [(ngModel)]="contraNueva" type="password">
      <ion-input-password-toggle slot="end" class="centradoOjo" color="medium"></ion-input-password-toggle>
      </ion-input>
    </ion-item>

    <div *ngIf="errorContraVacio" class="error-message">
      La contraseña es obligatoria.
    </div>

    <div *ngIf="contra && !esContraValida()" class="error-message-contra">
      La contraseña debe tener al menos 8 caracteres, una mayuscula, un número y un caracter especial para que la contraseña sea vlida.
    </div>

    <ion-item class="item">
      <ion-input class="input" label="confirme su contraseña" labelPlacement="floating" placeholder="contraseña"[(ngModel)]="confirmarContra" type="password">
        <ion-input-password-toggle slot="end" class="centradoOjo" color="medium"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <div *ngIf="errorConfirmarContra" class="error-message">
      Las contraseñas no coinciden.
    </div>
  </div>
  
  <div class="centradoBoton">
    <ion-button shape="round" class="boton" color="light"(click)="validarRegistro()">cambiar contraseña</ion-button>
    <ion-button shape="round" class="boton" color="medium" [routerLink]="['/cuenta']">cancelar y volver</ion-button>
  </div>
</ion-content>
