<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot= "end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Adopta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <div class="centradoImput">
       <h2 class="texto">para poder adoptar necesitamos los siguentes datos:</h2>

    <ion-item class="item">
      <ion-input class="input" label="ingrese su nombre" labelPlacement="floating"  placeholder="nombre" [(ngModel)]="nombre_usuario"></ion-input>
    </ion-item>
    <div *ngIf="errorNombre" class="error-message">El nombre debe tener entre 3 y 25 caracteres.</div>

    <ion-item class="item">
      <ion-input class="input" label="ingrese su apellido" labelPlacement="floating"  placeholder="apellido"[(ngModel)]="apellido_usuario"></ion-input>
    </ion-item>
    <div *ngIf="errorApellido" class="error-message">El apellido debe tener entre 3 y 25 caracteres.</div>

    <ion-item class="item">
      <ion-input class="input" label="ingrese su fecha de nacimiento" labelPlacement="floating"  placeholder="xx/xx/xxxx" [(ngModel)]="fecha_nac"></ion-input>
    </ion-item>

    <ion-item class="item">
      <ion-input class="input" label="ingrese su telefono (+56)" labelPlacement="floating"  placeholder="sin ingresar +56" [(ngModel)]="telefono" type="tel"></ion-input>
    </ion-item>
    <div *ngIf="errorTelefono" class="error-message">el numero que ingreso no es valido, para que sea valido debe ser 9 xxxx xxxx</div>

    <h2 class="texto">Para conocer a tu futuro compañero y completar el proceso de adopción, es necesario que agendes un día y una hora.</h2>

    <ion-item class="item">
      <ion-input class="input" label="ingrese su direccion" labelPlacement="floating"  placeholder="direccion" [(ngModel)]="direccion"></ion-input>
    </ion-item>


    <!-- Botones -->
    <div class="botones">
      <ion-button shape="round" color="light"  (click)="validarCampos()">Aceptar</ion-button>
      <ion-button shape="round" color="medium"  (click)="cancelarAdopcion()">Cancelar</ion-button>
    </div>
    
    </div>

  </ion-card>
</ion-content>
