<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>modificarEliminarAnimal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="cards-container">
          <div class="card" *ngFor="let x of animales"> 
            <div class="card-image">
               <ion-img [src]="x.foto_mascota" alt="Foto de {{x.nombre_mascota}}"></ion-img>
            </div>
          <ion-card-header>
            <ion-card-title>{{ x.nombre_mascota}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button color="light" (click)="modificarMascota(x)">Modificar</ion-button>
            <ion-button color="medium" (click)="eliminarMascota(x)">Eliminar</ion-button>
          </ion-card-content>
          </div>
         
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>