<ion-app>
  <ion-menu side="end" contentId="mein-content" [disabled]="menuDisabled">
    <ion-header>
      <ion-toolbar>
        <ion-title> menu principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>
        <img class="imagen" src="assets/logo_helppets.png" alt="logo HelpPets">
        <ion-list>
        <ion-item [routerDirection]="'root'" [routerLink]="['/animales-en-adopcion']">
           <ion-label>Animales en adopcion</ion-label>
        </ion-item>
        
        <ion-item [routerDirection]="'root'" [routerLink]="['/contacto']">
          <ion-label>Contacto</ion-label>
        </ion-item>

        <ion-item [routerDirection]="'root'" [routerLink]="['/cuenta']">
          <ion-label>Perfil</ion-label>
        </ion-item>
      </ion-list>
      </ion-menu-toggle>
      
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="mein-content"></ion-router-outlet>

</ion-app>
