<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalles del animalito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="card">
    <div class="centrado">
      <h1>Conoce mas sobre {{animales.nombre_mascota}}</h1>

      <img class="imagen" [src]="animales.foto_mascota" [alt]="animales.nombre_mascota" />
      
    </div>

    <div class="texto">
      <p><strong>nombre:</strong> {{ animales.nombre_mascota }}</p>
      <p><strong>especie:</strong> {{ animales.especie }}</p>
      <p><strong>edad:</strong> {{ animales.edad_mascota }} {{ animales.unidad_edad }}</p>
      <p><strong>vacunas:</strong> {{ animales.vacunas === 'si' ? 'Sí' : 'No' }}</p>
      <p><strong>Detalle de Vacunas:</strong> {{ animales.detalle_vacuna }}</p>

    </div>

    <p *ngIf="mascotaAdoptada" class="text-adoptada">Esta mascota ya está adoptada.</p>
    
    <div class="botones">
      <ion-button shape="round" color="light" [disabled]="mascotaAdoptada"  (click)="adoptar()">adoptar</ion-button>
      <ion-button shape="round" color="medium"  (click)="volver()">volver</ion-button>
    </div>

  </ion-card>



</ion-content>