ion-content {
    --background: url('/assets/fondo_app.jpg') no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // Asegura que el contenido se coloque desde la parte superior
    align-items: center;
    height: 100%; // Ocupa toda la pantalla

}

.centrado{
    text-align: center;

    h1{
        font-size: 20px;
    }

    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

}

.card {
    background-color: #e6edff;
    border: 1px solid black;
}

.imagen {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

.texto{
    margin-left: 23px;
}

.botones{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
