ion-content{
    --background: url('/assets/fondo_app.jpg') no-repeat center center / cover; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // Asegura que el contenido se coloque desde la parte superior
    align-items: center;
    height: 100%; // Ocupa toda la pantalla
    
}

.card{
    background-color: #EBEEFC;
 
 }

.texto{
    font-size: 18px;
    width:  87%;
}
.centradoImput{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centrado{
    width: 90%;
}

.casilla{
    width: 100%; 
    margin-top: 20px;
    --background: white;
    --border-radius: 10px;
    --padding-start: 10px;
    height: 50px;
}

.item{
    --background: transparent;
    width: 100%; 
    max-width: 400px; 
}

.input{
    width: 200%; 
    margin-top: 20px;
    --background: white;
    --border-radius: 10px;
    --padding-start: 10px;
    height: 50px;
}

.botones{
    margin-top: 20px;
    margin-bottom: 20px;
}

.error-message{
    color: red;
    font-size: 12px;
    width: 87%;
    
}